<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wipe.loggingservice.mapper.OperationLogsMapper">

    <resultMap id="BaseResultMap" type="com.wipe.loggingservice.pojo.domain.OperationLogs">
            <id property="logId" column="log_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="action" column="action" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="detail" column="detail" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        log_id,user_id,action,
        ip,detail
    </sql>
</mapper>
